body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(41, 41, 41);
  height: 100vh;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

button {
  cursor: pointer;
  padding: 5px;
}

#play,
#next,
#prev {
  margin: 10px;
  padding: 10px;
}

#track-title {
  font-weight: bold;
  margin-top: 20px;
}

/* .hidden {
  display: none;
} */

#background{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;


}

#transparentbackground{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: rgba(255,255,255,0.1);
  filter: blur(1.5rem);
}

#slider-container {
  width: 100%;
  height: 10px;
  background: gray;
  position: relative;
}

#slider{
  background-size: cover;
  width: 250px;
  height: 250px;
}

#progress-bar {
  width: 250px;
  height: 10px;
  background: red;
  position: relative;
  cursor: pointer;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}

button{
  border-radius: 800px;
  background: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


.svg{
  margin: 0px;
  width: 50px;
  height: 50px;
}


button:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
  cursor: pointer;
  
}

img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background-size: cover;
  margin-right: 20px;
  position: relative;
  left: 0;
}

.player {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  
}


#trackArtist {
  color: white;
  size: 20px;
  margin-bottom: 10px;
  margin-top: 0;
}

#previous {
  width: 50px;
  height: 50px;
}

#playlist {
 display: flex;
 flex-direction: row;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
